*{
	margin: 0;
	padding: 0;
}

h1 {
	font-family: Verdana;
	font-size: 30px;
	color: black;
	text-align: center;
	margin-top: 20px;
}

ul, li{
	list-style: none;
	color: red;
	margin-top: 15px;
	margin-left: 15px;
	font-size: 15px;
}